form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.titulo{
    text-align: center;
    color: rgb(255, 218, 56);
    padding-bottom: 55px;
    padding-top: 20px;
    font-size: 55px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}
.textos{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    text-shadow: 1.5px 1.5px 1.5px black;
}

.boton{
    padding-top: 5px;
    padding-bottom: 5px;
}

.almacen{
    padding-top: 5px;
    text-align: center;
    padding-bottom: 5px;
    background-color: rgba(16,33,40);
    width: 250px;
    border: 1px;
    color: rgb(209,206,174,255);
    font-style: bold;
}

.formlogin{
    justify-content: center;
    width: 10px;
    height: 300px;
    padding-left: 13%;
    padding-right: 13%;
    background-color: rgba(2, 17, 22, 0.644);
    font-style: italic;
    text-align: center;
    color: rgb(209,206,174,255);
    margin: 0 auto;
    border-radius: 5%;

}

.boton{
    background-color: rgb(53, 53, 53);
    color: rgb(255, 218, 56);
    margin-top: 25px;
    margin-bottom: 5px;
    height: 40px;
    width: 90px;
    font-family: 'Times New Roman', Times;
    font-style: italic;
    font-size: 18px;
    border: 1px;
    text-shadow: 2px 2px 2px black;
}

.home-bg {
    background-image: url('/public/images/font.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}


.register{
    margin-top: 8px;
    font-family: 'Times New Roman', Times;
    font-style: normal;
    font-size: 16px;
    color: rgb(151, 151, 120);
}

._code_email_container {
    display: grid;
    grid-template-rows: 100%;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    overflow: hidden;
}

._code_email_container > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    padding: 30px;
    max-width: 80%;
    min-height: 200px;
    background: rgba(2, 17, 22, 0.6);
    border-radius: 6px;
    overflow: hidden;
    z-index: 999;
}

._code_email_container > section 
section:first-child p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

._code_email_container > section 
section:last-child {
    width: calc(100% - 40px);
    height: 100%;
    padding: 20px;
}

._code_email_container > section 
section:last-child form {
    all: unset;
    display: grid;
    gap: 30px;
    width: -webkit-fill-available;
}

._code_email_container > section 
section:last-child form input {
    justify-self: center;
    width: 90%;
    height: 30px;
    background: rgba(2, 17, 22);
    border-radius: 3px;
    margin: unset;
    border: none;
    color: #fff;
}

._code_email_container > section 
section:last-child form button {
    justify-self: center;
    margin: auto 0;
}

._code_email_container > section 
section:last-child form button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

._code_email_container > a {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    z-index: 99;
    cursor: pointer;
}

html,body {
    overflow: hidden;
}