.scene41-bg {
    background-image: url('/public/images/wh.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .container-Scene41{
    display: flex;
    margin-top: 20rem;
    margin-left: 15rem;
    width: 60%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.card-Scene41{
    background-color: #102128bd;
    padding: 30px;
    border: 1px solid #102128;
    border-radius: 20px;
    height: fit-content;
    width: 700px;
    top: -60px;
}

.titulo-Scene41 {
    text-align: left;
    color: #D1CEAE;
    font-size: 40px;
    font-family: "Gentium Book Basic-Bold, Helvetica";
    font-weight: 600;
    font-style: normal;
    text-shadow: 2px 2px 2px black;
}
  
.text-Scene41 {
    text-align: justify;
    color: #D1CEAE;
    font-size: 18px;
    font-family: "Gentium Book Basic-Bold, Helvetica";
    font-weight: 545;
    font-style: italic;
}

.button_continue4 {
    height: 60px;
    width: 190px;
    margin: 10px 10px 0; 
    background-color: #353535;
    color: #FFDA38;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid #2e2d2d;
    font-family: "Gentium Book Basic-Bold, Helvetica";
    font-weight: 400;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
    top: 100;
  }

  .options_scene41{
    height: 43px;
    width: 700px;
    background-color: #102128;
    text-align:justify;
    color: #D1CEAE;
    font-size: 18px;
    font-family: "Gentium Book Basic-Bold, Helvetica";
    font-weight: 545;
    font-style: italic;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 5px;
  }
  
  .options_scene41:hover{
    background-color: #0b171c; 
    cursor: pointer;
  }
  .options_scene41:active{
    background-color: #285c74; 
    cursor: pointer;
}

.button_continue4:hover {
  background-color: #666355; 
  cursor: pointer;
}
.button_continue4:active {
    background-color: #84806e;
    cursor: pointer;
}
